# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na temperatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

dados = {
    1900: -0.08,
    1920: -0.27,
    1940: 0.12,
    1960: -0.03,
    1980: 0.26,
    2000: 0.40,
    2020: 1.02
}

#criando série do Pandas
serie_temperatura = pd.Series(dados)
print(serie_temperatura)

1900   -0.08
1920    0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [ ]:
dados = {
    1900: -0.08,
    1920: -0.27,
    1940: 0.12,
    1960: -0.03,
    1980: 0.26,
    2000: 0.40,
    2020: 1.02
}

#criando série do Pandas
serie_temperatura = pd.Series(dados)
print(serie_temperatura)

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}
# criação do dicionário
serie_temperatura = pd.Series(dic_temperaturas)
print(serie_temperatura)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [9]:
arr = np.random.normal(100, 10, (20,3))
df = pd.DataFrame(arr, columns=['Coluna1', 'Coluna2', 'Coluna3'])
print(df)

       Coluna1     Coluna2     Coluna3
0    89.477558   98.159137   94.530608
1    94.810293  113.664139  104.906775
2    84.361809  119.934956  103.311815
3    97.210773  106.557101  110.863214
4   109.160572   96.690297   86.953678
5   102.523075  100.817647  110.728883
6    95.106023   92.081569  114.004549
7   106.638818  106.179759   95.425582
8    94.444779   79.053371   84.188280
9   105.973597   98.322218  101.793772
10  112.501023   98.666456  107.133244
11  100.860049   97.147053  117.380671
12  107.519069  101.009866   79.628691
13   99.304840   85.295542   93.003706
14   97.369076  103.110013   97.553093
15  101.553388  100.981343   97.823406
16   92.974444   90.767009   82.364745
17   99.434775   85.933983   98.403871
18   99.681459   81.187078  104.612627
19   88.815260   96.805432  110.666794

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [11]:
arr = np.random.normal(100, 10, (20, 3))
#transformando ndarray em df do pandas
df = pd.DataFrame(arr, columns=['x1', 'x2', 'x3'])
df.index = range(1, 21)
print(df)

            x1          x2          x3
1    98.110546   95.188634  117.749874
2    92.081867  106.156999   98.715602
3    99.803645   72.095402   87.405372
4   104.585590   90.186193   84.607151
5    97.310639  105.847238   99.156275
6   109.765906   95.593545  121.176663
7   118.601687   87.978120   93.231236
8   103.508856  101.023186   88.613251
9    88.024544   99.447750  102.147163
10   92.529182  104.344373  117.595778
11  105.511506   89.845879  104.074718
12  107.369497  106.613841  117.823348
13  103.728109   91.939486   88.798515
14   96.038589  119.948038   99.218760
15   99.513987  104.509608   91.580397
16   91.704285   81.082989   97.389118
17   89.958099   96.891816  102.722026
18   87.986223   95.201015  113.840861
19   94.481864   97.604244   73.842114
20   85.560069  112.701920   97.202709

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [13]:
arr = np.random.normal(100, 10, (20, 3))

df = pd.DataFrame(arr, columns=['x1', 'x2', 'x3'])

df.index = range(1, 21)

df['media'] = df.mean(axis=1)
print(df)

            x1          x2          x3       media
1   100.027512  101.682989   82.085428   94.598643
2    88.079609  114.062075  116.348000  106.163228
3    97.949218   93.222842  106.346020   99.172693
4   111.744714   87.067163   97.769028   98.860302
5   106.068552  109.701731   96.967983  104.246089
6   102.061247   81.371019   98.347465   93.926577
7   122.548739   88.140074  105.204376  105.297730
8   107.564263  126.780461   86.877618  107.074114
9    96.700498   97.711353  100.600549   98.337467
10   81.008913   99.118162  113.115971   97.747682
11   91.059285  113.628886  114.729511  106.472561
12  106.295552  111.975888   97.516220  105.262553
13   94.276427   99.332735  109.931729  101.180297
14   87.201143  107.799353  109.409768  101.470088
15  105.617805   98.230895   83.972348   95.940349
16  115.929343   91.461453  106.343108  104.577968
17  116.763275  107.495019  102.994221  109.084172
18   96.133428   89.198567  101.350554   95.560850
19  101.515624  104.829215  110.285829  105.543556
20  100.738538   95.110784  107.254504  101.034609

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [16]:
arr = np.random.normal(100, 10, (20, 3))

df = pd.DataFrame(arr, columns=['x1', 'x2', 'x3'])
df.index = range(1, 21)
df['media'] = df.mean(axis=1)

# Criar uma nova coluna contendo o logaritmo natural da média
df['log_med'] = np.log(df['media'])
print(df)

            x1          x2          x3       media   log_med
1   111.152028   99.506856  119.255974  109.971619  4.700222
2    98.801376   89.578821   95.257790   94.545996  4.549086
3   102.080717   91.648107   94.535842   96.088222  4.565267
4   129.147749   94.465493   92.093561  105.235601  4.656202
5   104.986232  113.021451   80.324752   99.444145  4.599596
6   102.912290  109.557716  109.432895  107.300967  4.675638
7    87.872336   87.966441  106.030612   93.956463  4.542832
8    95.882826   96.494252   98.191405   96.856161  4.573227
9   108.340904   78.680808   94.161100   93.727604  4.540393
10  101.577737  113.534129  102.007690  105.706519  4.660667
11   93.066145   93.956672  100.620913   95.881243  4.563110
12  103.126661   95.440616   99.933353   99.500210  4.600160
13  104.405315   97.297010  106.014056  102.572127  4.630566
14  105.615208  109.049144  108.329688  107.664680  4.679022
15   86.037597   90.588240  101.119135   92.581657  4.528091
16  112.349040  101.265912   93.970588  102.528513  4.630141
17   92.685624   98.091030  121.070056  103.948903  4.643899
18   99.628567  101.252791   82.402601   94.427986  4.547837
19   99.174452   99.194336   91.125389   96.498059  4.569523
20   92.708565   89.117218  124.849785  102.225189  4.627178